.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius:8px;
}
h1, h2, h3 {
  color: #2c3e50;
}
ul {
  padding-left: 20px;
  line-height: 1.8;
}
.gallery {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.gallery img{
  width: 48%;
  min-width:200px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
body{
  font-family: arial, sans-serif;
  background-color: #f4f6f8;
  color: #333333;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 680px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 13px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}